.notification {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.79rem 0.71rem;
  max-width: 42.857rem;
  border-radius: 0 0 2px 2px;
  color: white;
  font-weight: 500;
  font-size: 0.86rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: fadeInOut 10s ease;
          animation: fadeInOut 10s ease; }
  .notification__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .notification__holder__content {
      z-index: 1001; }
  .notification_kind_error {
    background-color: #ef4c4c; }
  .notification_kind_info {
    background-color: #44ba39; }
  .notification__icon {
    width: 0.93rem;
    height: 0.93rem; }

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* doiuse-disable calc */
.dialog {
  display: inline-block; }
  .dialog__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.7rem 1.3rem; }
    @media (min-width: 590px) {
      .dialog__header {
        padding: 1rem 1.8rem; } }
  .dialog__content {
    padding: 1rem 1.3rem;
    border-top: 0.1rem solid #e5e5e5;
    border-bottom: 0.1rem solid #e5e5e5; }
    @media (min-width: 590px) {
      .dialog__content {
        padding: 1.5rem 1.8rem; } }
  .dialog__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0.7rem 1.3rem; }
    @media (min-width: 590px) {
      .dialog__actions {
        padding: 1rem 1.8rem; } }
  .dialog__paper {
    margin: 1.5rem !important;
    max-height: calc(100% - 2rem) !important; }

.pagination-page {
  color: #777; }
  .pagination-page_active {
    -webkit-box-shadow: 0 0.1rem;
            box-shadow: 0 0.1rem;
    color: black; }

.pagination-arrow {
  width: 0.4rem;
  height: 0.4rem;
  border: solid;
  border-width: 0 0.1rem 0.1rem 0;
  color: #777; }
  .pagination-arrow_direction_left {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .pagination-arrow_direction_right {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .pagination-arrow:disabled {
    visibility: hidden; }

.pagination-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination-controls__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .pagination-controls__arrow:first-child {
      margin-right: 0.5rem; }
  .pagination-controls__page {
    margin-right: 0.5rem; }

.input-with-presets__presets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.5rem; }

.input-with-presets__preset {
  position: relative;
  margin: 0 0.5rem 0.2rem 0;
  cursor: pointer; }
  .input-with-presets__preset:hover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    content: ''; }

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.total-search-results {
  padding: 0.6rem 0;
  color: #666;
  text-align: center;
  font-size: 0.9rem; }
  .total-search-results__title {
    font-weight: 600; }

.keys-to-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  color: #666;
  list-style: none;
  font-size: 0.8rem;
  line-height: 1.2rem; }
  .keys-to-values__item {
    margin-right: 1rem; }
  .keys-to-values__key {
    font-weight: 600; }

.search-form__filters {
  margin-bottom: 1rem; }

.search-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.8rem; }

.search-form__settings-button {
  margin-left: 0.6rem; }

.users-search-settings {
  width: 11rem; }
  @media (min-width: 590px) {
    .users-search-settings {
      width: 27rem; } }
  .users-search-settings__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.5rem; }
    @media (min-width: 590px) {
      .users-search-settings__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .users-search-settings__row:last-child {
      margin-bottom: 0; }
  .users-search-settings__item {
    margin-bottom: 1rem;
    width: 11rem; }
  .users-search-settings__repos-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.7rem;
    width: 11rem; }
    .users-search-settings__repos-number-input {
      width: 5rem; }
  .users-search-settings__settings-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.users-avatars-wall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .users-avatars-wall__avatars {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .users-avatars-wall__avatars_size_big {
      max-width: 90rem; }
    .users-avatars-wall__avatars_size_small {
      max-width: 45rem; }
  .users-avatars-wall__avatar {
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.15s;
    transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
    transition: transform 0.15s, -webkit-transform 0.15s; }
    .users-avatars-wall__avatar:hover {
      -webkit-transform: scale(1.15);
              transform: scale(1.15); }
  .users-avatars-wall__image {
    width: 100%;
    height: 100%; }

.user-attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  height: 2.5rem;
  border-bottom: 0.15rem solid #e5e5e5;
  color: #000;
  text-decoration: none; }
  .user-attribute:hover {
    border-color: #bbb; }

.user-details {
  position: relative;
  min-height: 20rem;
  width: 11rem; }
  @media (min-width: 590px) {
    .user-details {
      width: 13rem; } }
  .user-details__main {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none; }
  .user-details__avatar {
    height: 10rem; }
    @media (min-width: 590px) {
      .user-details__avatar {
        height: 13rem; } }
  .user-details__attribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
    height: 2.5rem;
    border-bottom: 0.15rem solid #e5e5e5;
    color: #000;
    text-decoration: none; }
    .user-details__attribute:hover {
      border-color: #bbb; }

.users-search-results__pagination {
  margin-top: 1rem; }

.repositories-search-settings {
  width: 12rem; }
  @media (min-width: 590px) {
    .repositories-search-settings {
      width: 25rem; } }
  .repositories-search-settings__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0; }
    @media (min-width: 590px) {
      .repositories-search-settings__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-bottom: 1.5rem; } }
    .repositories-search-settings__row:last-child {
      margin-bottom: 0; }
  .repositories-search-settings__item {
    margin-bottom: 0.5rem;
    width: 100%; }
    @media (min-width: 590px) {
      .repositories-search-settings__item {
        margin-bottom: 0;
        width: 11rem; } }

.repository-attribute {
  font-size: 0.9rem; }
  .repository-attribute__title {
    margin-right: 0.25rem;
    font-style: italic; }
  .repository-attribute__value_type_owner {
    text-decoration: underline;
    cursor: pointer; }
    .repository-attribute__value_type_owner:hover {
      color: #888; }

/* doiuse-disable word-break */
.repository-preview {
  padding: 1.5rem 1.8rem;
  background: white;
  color: #222; }
  .repository-preview__description {
    margin: 0.7rem 0 0.9rem;
    line-height: 1.4rem; }
  .repository-preview__name {
    color: #1d67e0;
    word-break: break-all;
    font-size: 1.4rem; }
    .repository-preview__name:visited {
      color: #4301a0; }
  .repository-preview__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.6rem;
    width: 5rem; }
    @media (min-width: 590px) {
      .repository-preview__stars {
        margin-bottom: 0; } }
  .repository-preview__star {
    margin-right: 0.2rem;
    height: 1.3rem;
    color: #444;
    font-size: 1.2rem; }
  .repository-preview__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (min-width: 590px) {
      .repository-preview__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 36rem; } }
  .repository-preview__attributes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0.7rem;
    height: 2.35rem; }
    @media (min-width: 590px) {
      .repository-preview__attributes {
        width: 50%; } }

.repositories-search-results__repositories {
  position: relative; }

.repositories-search-results__repository-preview {
  margin-bottom: 1rem; }

.profile-avatar {
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 50%;
  background-size: 100%; }
  .profile-avatar_size_big {
    width: 10rem;
    height: 10rem;
    border-width: 0.3rem; }
  .profile-avatar_size_small {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 0.1rem; }

.profile-edit {
  width: 18rem; }
  .profile-edit__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem; }
  .profile-edit__fields {
    margin: auto; }
  .profile-edit__field {
    margin-bottom: 1rem; }
    .profile-edit__field:last-child {
      margin-bottom: 0; }
  .profile-edit__button {
    text-align: end; }

/* doiuse-disable word-break */
.profile-preview__avatar {
  border-radius: 50%;
  cursor: pointer; }

.profile-preview__info {
  margin-top: 0.2rem;
  padding: 0.7rem 1rem;
  width: 18rem;
  border-radius: 5px;
  background: #f2f2f2;
  font-size: 0.8rem; }
  @media (min-width: 590px) {
    .profile-preview__info {
      padding: 1rem 1.3rem;
      width: 23rem; } }

.profile-preview__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.profile-preview__name {
  word-break: break-all;
  font-size: 1rem; }
  @media (min-width: 590px) {
    .profile-preview__name {
      font-size: 1.2rem; } }

.profile-preview__nickname-age {
  margin-left: 1rem;
  width: 6rem;
  text-align: end; }

@media (min-width: 590px) {
  .profile-preview__nickname {
    font-weight: 600; } }

.profile-preview__bio {
  overflow: hidden;
  margin: 1rem 0;
  max-height: 6rem;
  max-height: 3rem;
  text-align: justify;
  text-overflow: ellipsis; }
  @media (min-width: 590px) {
    .profile-preview__bio {
      max-height: auto; } }

.profile-preview__nickname-age, .profile-preview__bio {
  line-height: 1rem; }

.profile-preview__edit {
  text-decoration: underline;
  font-size: 0.9rem;
  cursor: pointer; }

.layout-header-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem; }
  .layout-header-menu__title {
    display: none; }
    @media (min-width: 590px) {
      .layout-header-menu__title {
        display: inline; } }
  .layout-header-menu__menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 590px) {
      .layout-header-menu__menu-icon {
        display: none; } }
    .layout-header-menu__menu-icon_open ~ .layout-header-menu__menu-items {
      position: absolute;
      top: 1.5rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .layout-header-menu__menu-items {
    display: none; }
    @media (min-width: 590px) {
      .layout-header-menu__menu-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-left: 1rem; } }
  .layout-header-menu__menu-item {
    width: 8rem;
    background: #444;
    color: #eaeaea;
    text-align: center;
    text-decoration: none; }
    @media (min-width: 590px) {
      .layout-header-menu__menu-item {
        background: #333; } }
    .layout-header-menu__menu-item_active {
      background: #666; }
      @media (min-width: 590px) {
        .layout-header-menu__menu-item_active {
          background: #555; } }

.layout {
  position: relative;
  padding-bottom: 4.5rem;
  min-height: 100%; }
  .layout__title {
    padding: 0 0.7rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem; }
    @media (min-width: 590px) {
      .layout__title {
        font-size: 2rem; } }
  .layout__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
    height: 3rem;
    background: #333;
    color: #eaeaea; }
    .layout__header-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: auto;
      width: 90%;
      height: 100%; }
  .layout__menu {
    line-height: 3rem; }
  .layout__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 77vh; }
  .layout__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: #333;
    text-align: right;
    line-height: 3rem; }
    .layout__footer-content {
      margin: auto;
      width: 100%;
      text-align: center; }
      @media (min-width: 590px) {
        .layout__footer-content {
          width: 90%;
          text-align: end; } }
  .layout__company-link {
    color: #eaeaea; }

.users-search-layout__search-form {
  margin: 0 auto 1rem;
  width: 85%; }
  @media (min-width: 590px) {
    .users-search-layout__search-form {
      width: 30rem; } }

.repositories-search-layout__search-form {
  margin: 0 auto 1rem;
  width: 85%; }
  @media (min-width: 590px) {
    .repositories-search-layout__search-form {
      width: 30rem; } }

.repositories-search-layout__results {
  margin: auto;
  width: 100%; }
  @media (min-width: 590px) {
    .repositories-search-layout__results {
      width: 34rem; } }

.profile-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

