.Select-control, .Select-placeholder,
.Select:focus .Select-placeholder {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.Select-control {
  border-color: #ddd;
  border-bottom: 1px solid; }

.Select:focus {
  outline: 0;
  border-color: #66afe9;
  border-bottom-width: 2px; }

.Select:hover {
  box-shadow: none; }

.is-open > .Select-control {
  border: 0;
  border-color: #66afe9;
  border-bottom: 2px solid;
  background-color: transparent; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #66afe9;
  border-bottom-width: 2px;
  box-shadow: none; }

.categories-select {
  position: relative; }
  .categories-select__select-label {
    margin-left: 2px; }

