.radio-inline + .radio-inline {
  margin-left: 0;
}

.generic-radio-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__radios-group {
    display: flex;
    flex-wrap: wrap;
  }

  &__radio-button {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
  }
}
