.location-select {
  &__input {
    width: 30%;
    margin-left: 15px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__label {
    margin: 0;
  }

  .Select--single > .Select-control .Select-value {
    padding-right: 35px;
  }
}
