{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript"
  ],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-extraneous-dependencies": [2, { "devDependencies": ["**/test.tsx", "**/test.ts"] }],
    "react/jsx-props-no-spreading": 0
  },
  "globals": {
    "window": "readonly"
  }
}
