.layout {
  $header-footer-height: 3rem;
  $header-footer-margin: 1.5rem;
  $horizontal-padding: 2rem;

  position: relative;
  padding-bottom: $header-footer-height + $header-footer-margin;
  min-height: 100%;

  &__header {
    display: flex;
    margin-bottom: $header-footer-margin;
    padding-left: $horizontal-padding;
    height: $header-footer-height;
    background: #333;
    color: #eaeaea;
    line-height: $header-footer-height;
  }

  &__navigation-link {
    color: #eaeaea;
    text-decoration: none;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: $horizontal-padding;
    width: 100%;
    height: $header-footer-height;
    background: #333;
    text-align: right;
    line-height: $header-footer-height;
  }

  &__company-link {
    color: #eaeaea;
  }

  &__tabs {
    display: flex;
    margin-left: 1rem;
  }

  &__tab {
    width: 8rem;
    background: #333;
    text-align: center;

    &_active {
      background: #555;
    }
  }
}

// TODO: add error notification
