.layout {
  $header-footer-height: 3rem;
  $header-footer-margin: 1.5rem;
  $horizontal-padding: 2rem;

  position: relative;
  padding-bottom: $header-footer-height + $header-footer-margin;
  min-height: 100%;

  &__header {
    display: flex;
    margin-bottom: $header-footer-margin;
    padding-left: $horizontal-padding;
    height: $header-footer-height;
    background: #333;
    color: #eaeaea;
    line-height: $header-footer-height;

    @media (max-width: 590px) {
      justify-content: center;
      padding: 0;

      &-title {
        display: none;
      }
    }
  }

  &__navigation-link {
    color: #eaeaea;
    text-decoration: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 77vh;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: $horizontal-padding;
    width: 100%;
    height: $header-footer-height;
    background: #333;
    text-align: right;
    line-height: $header-footer-height;

    @media (max-width: 590px) {
      padding-right: 0;
      text-align: center;
    }
  }

  &__company-link {
    color: #eaeaea;
  }

  &__tabs {
    display: flex;
    margin-left: 1rem;

    @media (max-width: 590px) {
      margin-left: 0;
    }
  }

  &__tab {
    width: 8rem;
    background: #333;
    text-align: center;

    &_active {
      background: #555;
    }
  }

  &__title {
    text-align: center;
    font-weight: 500;

    @media (max-width: 590px) {
      font-size: 1.7rem;
    }
  }
}

// TODO: add error notification
// TODO: потыкаться в мобилку, там проблемы (прелоедар на аватар wall, правый паддинг на userDetails
