@import '~shared/styles/mixins';

.profile-edit {
  padding-top: 2rem;
  width: 100%;

  &__row {
    display: flex;
    margin: 0 -0.5rem;

    @include breakpoint-down(sm) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__column {
    display: inline-flex;
    flex-direction: column;
    padding: 0.5rem;

    @include breakpoint-up(sm) {
      padding: 0 0.5rem;
      width: 50%;

      &_short {
        width: 40%;
      }

      &_long {
        width: 60%;
      }
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__fields {
    margin: auto;
  }

  &__field {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__button {
    text-align: end;
  }
}
