@import '~shared/styles/mixins';

.repositories-search-settings {
  width: 12rem;

  @include breakpoint-up(sm) {
    width: 25rem;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;

    @include breakpoint-up(sm) {
      flex-direction: row;
      margin-bottom: 1.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 0.5rem;
    width: 100%;

    @include breakpoint-up(sm) {
      margin-bottom: 0;
      width: 11rem;
    }
  }
}
