@import '~shared/styles/mixins';

@mixin controls-hide() {
  opacity: 1;
  transition: 0.2s opacity ease-in;

  &_hide {
    opacity: 0.6;
    pointer-events: none;
  }
}

.search-results {
  padding-top: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include breakpoint-up(sm) {
      height: 34px;
    }

    @include breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include controls-hide;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
  }

  &__results {
    margin-bottom: 1rem;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-up(sm) {
      height: 30px;
    }

    @include breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-end;
    }

    @include controls-hide;
  }

  &__total {
    color: #777;
    font-size: 12px;
    line-height: 30px;
  }
}
