@import '~shared/styles/variables';

.repositories-search-layout {
  &__search-form {
    margin: 0 auto 1rem;
    width: 30rem;

    @media (max-width: $breakpoint-sm) {
      width: 85%;
    }
  }

  &__results {
    margin: auto;
    width: 32rem;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
}
