.repositories-search-layout {
  &__search-form {
    margin: auto;
    width: 30rem;

    @media (max-width: 590px) {
      width: 85%;
    }
  }

  &__results {
    margin: 1rem auto 1.5rem;
    width: 32rem;

    @media (max-width: 590px) {
      width: 100%;
    }
  }
}
