/* doiuse-disable word-break */
@import '~shared/styles/mixins';

.repository-preview {
  padding: 1.5rem 1.8rem;
  background: white;
  color: #222;

  &__description {
    margin: 0.7rem 0 0.9rem;
    line-height: 1.4rem;
  }

  &__name {
    color: #1d67e0;
    word-break: break-all;
    font-size: 1.4rem;

    &:visited {
      color: #4301a0;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    width: 5rem;

    @include breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &__star {
    margin-right: 0.2rem;
    height: 1.3rem;
    color: #444;
    font-size: 1.2rem;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint-up(sm) {
      flex-direction: row;
      align-items: center;
      max-width: 36rem;
    }
  }

  &__attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.7rem;
    height: 2.35rem;

    @include breakpoint-up(sm) {
      width: 50%;
    }
  }
}
