@import '~shared/styles/mixins';

.user-details {
  position: relative;

  &__main {
    display: flex;
  }

  &__avatar {
    margin-right: 1.25rem;
    height: 7.5rem;
  }

  &__user-real-name {
    margin-bottom: 0.5rem;
    color: #304ffe;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__attributes {
    display: flex;
    align-items: flex-end;

    &:hover {
      border-color: #bbb;
    }
  }
}
