.users-search-layout {
  &__search-form {
    margin: 0 auto 1rem;
    width: 30rem;

    @media (max-width: 590px) {
      width: 85%;
    }
  }

  &__pagination {
    margin-top: 1.5rem;
  }
}

// TODO: копипаста
