
.geosuggest
  position relative
  width 100%
  text-align left

.geosuggest__suggests
  position absolute
  top 100%
  left 0
  right 0
  max-height 25em
  padding 0
  margin-top -2px  // hack to hide bottom border of input
  background #fff
  border 1px solid black
  border-top none
  overflow-x hidden
  overflow-y auto
  list-style none
  z-index 5
  -webkit-transition max-height 0.2s, border 0.2s
  transition max-height 0.2s, border 0.2s

ul.geosuggest__suggestsempty, .geosuggest__suggests--hidden
  max-height 0
  overflow hidden
  border-width 0

.geosuggest__suggests--hidden
  max-height 0
  overflow hidden
  border-width 0


/**
 * A geosuggest item
 */
.geosuggest__item
  font-size 1rem
  padding .5em .65em
  cursor pointer

.geosuggest__itemhover, .geosuggest__itemfocus
  background #f5f5f5

.geosuggest__item--active
  background #267dc0
  color #fff

.geosuggest__item--activehover, .geosuggest__item--activefocus
  background #ccc

