.user-attribute {
  color: #304ffe;
  text-decoration: none;
  letter-spacing: 0.4px;
  font-size: 0.75rem;
  line-height: 1rem;

  &:hover {
    border-color: #bbb;
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &__value {
    margin-left: 3px;
    font-weight: bold;
  }
}
