.user-attribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 2.5rem;
  border-bottom: 0.15rem solid #e5e5e5;
  color: #000;
  text-decoration: none;

  &:hover {
    border-color: #bbb;
  }
}
