:global
  @import 'elements/*'


html
  font-size: 14px  // TODO: use rems everywhere in the project
  font-family: Arial, sans-serif
  color: #272727
  background: white

body
  font-size: 1rem
  margin 0
  padding 0

a
  color: #272727
  text-decoration: none
  &:hover
    color: #171717
    text-decoration: none
  &:focus
    color: #272727
    text-decoration: none


html,
body,
:global(#root)
  height 100%