@import './elements/*';

html {
  background: white;
  color: #272727;
  font-size: 14px;  // TODO: use rems everywhere in the project
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a {
  color: #272727;
  text-decoration: none;

  &:hover {
    color: #171717;
    text-decoration: none;
  }

  &:focus {
    color: #272727;
    text-decoration: none;
  }
}

html,
body,
#root {
  height: 100%;
}
