.repository-attribute {
  color: #7a7a7a;
  letter-spacing: 0.4px;
  font-size: 12px;
  line-height: 1rem;

  &:not(:last-child) {
    margin-right: 1.9rem;
  }

  &__title {
    margin-right: 0.25rem;
  }

  &__value {
    font-weight: bold;

    &_type {
      &_owner {
        color: #304ffe;
        text-decoration: none;
        font-weight: normal;
        cursor: pointer;
      }
    }
  }
}
