.repository-attribute {
  font-size: 0.9rem;

  &__title {
    margin-right: 0.25rem;
    font-style: italic;
  }

  &__value {
    &_type {
      &_owner {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: #888;
        }
      }
    }
  }
}
