@import '~shared/styles/mixins';

.layout {
  $side-bar-width: 400px;
  $header-footer-height: 3rem;
  $header-footer-margin: 1.5rem;

  position: relative;
  padding: 4.5rem;
  min-height: 100%;

  &__container {
    display: flex;
  }

  &__title {
    margin: 0 0 1rem;
    padding: 0;
    font-weight: bold;
    font-size: 2.15rem;
    line-height: 3.5rem;
  }

  &__page-title {
    display: none;

    @include breakpoint-up(sm) {
      display: block;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.125rem;
    }
  }

  &__side {
    position: fixed;
    display: block;
    min-width: $side-bar-width;
    max-width: $side-bar-width;
  }

  &__main {
    margin-left: 510px;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__left-menu {
    line-height: $header-footer-height;
  }

  &__right-menu {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 77vh;
  }

  &__footer {
    bottom: 0;
    height: $header-footer-height;
    line-height: $header-footer-height;
  }

  &__company-link {
    color: #304ffe;
    font-size: 12px;
    line-height: 17px;
  }

  &__language-selector {
    margin: 0 1rem;

    & select {
      border: none;
      background: none;
      color: white;
      font-weight: 400;
      font-size: 0.9rem;
      font-family: inherit;
      cursor: pointer;
    }
  }
}
