@import '~shared/styles/mixins';

.layout {
  $header-footer-height: 3rem;
  $header-footer-margin: 1.5rem;
  $r: &;

  position: relative;
  padding-bottom: $header-footer-height + $header-footer-margin;
  min-height: 100%;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;

    @include breakpoint-up(sm) {
      font-size: 2rem;
    }
  }

  &__header {
    justify-content: center;
    margin-bottom: $header-footer-margin;
    height: $header-footer-height;
    background: #333;
    color: #eaeaea;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      height: 100%;
    }

    &-title {
      display: none;

      @include breakpoint-up(sm) {
        display: inline;
      }
    }

    &-left-part {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 0.9rem;
    }
  }

  &__menu {
    @include breakpoint-up(sm) {
      display: none;
    }

    &_open {
      & ~ #{$r}__tabs {
        position: absolute;
        top: 1.5rem;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__tabs {
    display: none;
    height: 100%;
    line-height: $header-footer-height;

    @include breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      margin-left: 1rem;
    }
  }

  &__tab {
    width: 8rem;
    background: #444;
    text-align: center;

    @include breakpoint-up(sm) {
      background: #333;
    }

    &_active {
      background: #666;

      @include breakpoint-up(sm) {
        background: #555;
      }
    }
  }

  &__navigation-link {
    color: #eaeaea;
    text-decoration: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 77vh;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $header-footer-height;
    background: #333;
    text-align: right;
    line-height: $header-footer-height;

    &-content {
      margin: auto;
      width: 100%;
      text-align: center;

      @include breakpoint-up(sm) {
        width: 90%;
        text-align: end;
      }
    }
  }

  &__company-link {
    color: #eaeaea;
  }
}
