@import '~shared/styles/mixins';

.layout {
  $header-footer-height: 3rem;
  $header-footer-margin: 1.5rem;

  position: relative;
  padding-bottom: $header-footer-height + $header-footer-margin;
  min-height: 100%;

  &__title {
    padding: 0 0.7rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;

    @include breakpoint-up(sm) {
      font-size: 2rem;
    }
  }

  &__header {
    justify-content: center;
    margin-bottom: $header-footer-margin;
    height: $header-footer-height;
    background: #333;
    color: #eaeaea;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      height: 100%;
    }
  }

  &__left-menu {
    line-height: $header-footer-height;
  }

  &__right-menu {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 77vh;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $header-footer-height;
    background: #333;
    text-align: right;
    line-height: $header-footer-height;

    &-content {
      margin: auto;
      width: 100%;
      text-align: center;

      @include breakpoint-up(sm) {
        width: 90%;
        text-align: end;
      }
    }
  }

  &__company-link {
    color: #eaeaea;
  }

  &__language-selector {
    margin: 0 1rem;

    & select {
      border: none;
      background: none;
      color: white;
      font-weight: 400;
      font-size: 0.9rem;
      font-family: inherit;
      cursor: pointer;
    }
  }
}
