@import '~shared/styles/mixins';

.layout-header-menu {
  $r: &;

  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;

  &__menu-icon {
    display: flex;

    @include breakpoint-up(sm) {
      display: none;
    }

    &_open {
      & ~ #{$r}__menu-items {
        position: absolute;
        top: 1.5rem;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__menu-items {
    display: none;

    @include breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  &__menu-item {
    padding: 1rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.25px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;

    &_active {
      margin-bottom: -1px;
      border-bottom: 1px solid #304ffe;
      color: #304ffe;
    }
  }
}
