.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    display: flex;

    &:first-child {
      margin-right: 0.5rem;
    }
  }

  &__page {
    margin-right: 0.5rem;
  }
}
