.home-page {
  padding: 0 20px;

  &__description {
    font-size: 18px;
  }

  &__tool {
    margin-left: 10px;
  }

  &__content {
    margin: 0 auto;
    max-width: 65%;
  }

  &__github-icon {
    margin-right: 10px;
  }

  &__submit {
    float: right;
  }

  &__result {
    color: green;
  }
}
