.index-page {
  display: flex;
  padding: 0 20px;

  &__description {
    font-size: 18px;
  }

  &__tool {
    margin-left: 10px;
  }

  &__content {
    max-width: 60%;
    margin: 0 auto;
  }

  &__github-icon {
    margin-right: 10px;
  }
}
