.repositories-search-results {
  &__repositories {
    position: relative;
  }

  &__repository-preview {
    border-top: 1px solid #cfcfcf;

    &:last-child {
      border-bottom: 1px solid #cfcfcf;
    }
  }

  &__pagination {
    margin-top: 1rem;
  }
}
