.repositories-search-results {
  &__repositories {
    position: relative;
  }

  &__repository-preview {
    margin-bottom: 1rem;
  }

  &__action-button-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
}
