@import '~shared/styles/mixins';

.users-search-settings {
  width: 11rem;

  @include breakpoint-up(sm) {
    width: 27rem;
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @include breakpoint-up(sm) {
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 1rem;
    width: 11rem;
  }

  &__repos-number {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    width: 11rem;

    &-input {
      width: 5rem;
    }
  }

  &__settings-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
