@import '~shared/styles/mixins';

.users-search-settings {
  width: 100%;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    @include breakpoint-up(sm) {
      flex-direction: row;
      margin: 0 -0.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    width: 50%;

    &_short {
      width: 30%;
    }

    &_long {
      width: 70%;
    }
  }

  &__repos-number {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;

    &-input {
      width: 50%;

      &:first-child {
        padding-right: 0.5rem;
      }

      &:last-child {
        padding-left: 0.5rem;
      }
    }
  }

  &__settings-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__checkbox-group {
    display: flex;
  }
}
