.users-avatars-wall {
  &__avatars {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 90rem;
    height: 21rem;
    list-style: none;

    &_loading {
      background: #fff;
    }
  }

  &__avatar {
    margin: 0.25rem;
    width: 4rem;
    cursor: pointer;
  }

  &__image {
    width: 100%;
  }
}
