.users-avatars-wall {
  &__avatars {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    list-style: none;

    &_size {
      &_big {
        width: 90rem;
        height: 24rem;
      }

      &_medium {
        width: 45rem;
        height: 28rem;
      }

      &_small {
        width: 45rem;
        height: 14rem;
      }
    }
  }

  &__avatar {
    margin: 0.25rem;
    width: 4rem;
    cursor: pointer;
    transition: transform 0.15s;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__image {
    width: 100%;
  }
}
