/* doiuse-disable word-break */

.repository-preview {
  padding: 1rem;
  background: white;
  color: #222;

  &__description {
    margin: 0.7rem 0 0.9rem;
  }

  &__name {
    color: #1d67e0;
    text-decoration: none;
    word-break: break-all;
    font-size: 1.4rem;
  }

  &__stars {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    width: 5rem;
  }

  &__star {
    margin-right: 0.2rem;
    width: 0.75rem;
    height: 0.85rem;
    background: url('./img/star.png') no-repeat;
    background-size: contain;
  }

  &__row {
    display: flex;
    max-width: 36rem;
  }

  &__attributes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  &__attribute {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }

  &__title {
    margin-right: 0.25rem;
    font-style: italic;
  }

  &__value {
    &_owner {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
