@import '~shared/styles/mixins';

.repositories-search-layout {
  &__search-form {
    margin: 0 auto 1rem;
    width: 85%;

    @include breakpoint-up(sm) {
      width: 30rem;
    }
  }

  &__results {
    margin: auto;
    width: 100%;

    @include breakpoint-up(sm) {
      width: 34rem;
    }
  }
}
